streamlit
torch
torchvision
diffusers 
transformers 
gradio
accelerate
opencv-python
opencv-python-headless
python3-opencv
ffmpeg 
scikit-image
fvcore
cloudpickle
pycocotools
av
huggingface-hub
pillow
onnxruntime
omegaconf
einops
dists-pytorch
matplotlib
clean-fid
torchmetrics
tqdm
prettytable
gdown
easy_dwpose
