streamlit
torch==2.7.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.22.1 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.7.1 --index-url https://download.pytorch.org/whl/cu118
#torch
#torchvision
diffusers 
transformers 
gradio
accelerate
#opencv-python
opencv-python-headless #==4.5.4.60
#opencv-python-headless
#python3-opencv
ffmpeg 
scikit-image
fvcore
cloudpickle
pycocotools
av
huggingface-hub
pillow
onnxruntime
omegaconf
einops
dists-pytorch
matplotlib
clean-fid
torchmetrics
tqdm
prettytable
gdown
easy_dwpose
